$font-family: "Open Sans", sans-serif;
$background-main: rgb(246, 245, 245);
$header-color: rgb(43, 46, 74);
$main-text: rgb(112, 112, 112);
$hover-color: rgb(255, 255, 255);
$active-color: rgb(242, 186, 61);
$death-color: rgb(144, 55, 73);
$recover-color: rgb(0, 145, 74);
$total-color: rgb(232, 69, 69);
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

.statusWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .box {
    flex: 1;
    text-align: center;
    transition: 300ms ease-in-out;

    &:hover {
      box-shadow: $box-shadow;
      transform: translateY(-3px);
    }
    .title {
      color: $main-text;
      font-weight: bold;
    }
    .active {
      color: $active-color;
      font-size: 3.5rem;
    }
    .death {
      color: $death-color;
      font-size: 3.5rem;
    }
    .recover {
      color: $recover-color;
      font-size: 3.5rem;
    }
  }
}

.total {
  text-align: center;

  .title {
    color: $main-text;
    font-weight: bold;
  }
  .totalData {
    color: $total-color;
    font-size: 3.5rem;
  }
}
.update {
  text-align: right;
}
@media screen and (max-width: 600px) {
  .statusWrapper {
    display: block;
  }
}
